[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/omniavinco/glew-cmake
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/freetype2"]
	path = lib/freetype2
	url = https://github.com/freetype/freetype2.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/EDToaster/box2d.git
[submodule "lib/polypartition"]
	path = lib/polypartition
	url = https://github.com/ivanfratric/polypartition.git
